/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height: 41px;
	width:550px;
	float:left;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {

}

div#menu li {
    position: relative;
    margin: 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
    z-index: 9;
}
div#menu li:hover>ul {
    left: 0;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    color: rgb(150,150,150);
    font: normal 22px Helvetica, Arial, sans-serif;
    border-bottom: none;
    text-transform: uppercase;
}
div#menu.ie6 a {
    border-color: #171717;
    filter: chroma(color=#171717);
}
div#menu li:hover>a {
    color:red;
}
div#menu.js-active a:hover {

    background: #eee;
}
div#menu li.current a {}

div#menu li.expanded > a {
    background: url(../images/item-pointer.gif) no-repeat right 9px;
}

div#menu a {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
    text-align: center;
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 24px;
    height: 28px;
}
div#menu a {
    color:#2e3192;
    font: normal 13px Arial;
}
div#menu li { }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li {
    background: none;
    padding: 0;
    border-bottom: 0;
}
div#menu ul ul li,
div#menu ul ul li a {
    z-index: auto;
}
div#menu ul ul li ul {
    z-index: 20;
}
div#menu ul ul {
    display: block;
    position: absolute;
    top: 27px;
    left: -999em;
    width: 175px;
    padding: 5px 0 0 0;
    background: #eee;
    border: 1px solid #fff;
    margin-top: 1px;
}
div#menu ul ul a {
    padding: 0;
    height: 30px;
    float: none;
    display: block;
    line-height: 26px;
    font-size: 18px;
    border: 0;
    z-index: -1;
    white-space: nowrap;
}
div#menu ul ul a {
    font-size: 10px;
    line-height: 13px;
    color: #222;
    text-transform: uppercase;
}
div#menu ul ul li:hover>a {
    border: 0;
}
div#menu ul ul a:hover {
    color:red;
}
div#menu ul ul a {
    margin-top: 0;
    text-align: left;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
    text-indent: 15px;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -54px 0 0 160px !important;
    margin-left: 160px;
}

/** menu::subtext */
div#menu span.subtext {
    display: block;
    font-size: 12px;
    color: #9ba1ac;
    line-height: 16px;
    margin: 0;
    padding: 0;
}
div#menu li:hover>a span.subtext {
    color: #9ba1ac;
}

/* lava lamp */
div#menu li.back {
    position: absolute;
    width: 10px;
    height: 57px;
    z-index: 8;
    margin-top: 1px;
}
div#menu li.back .left {
    height: 57px;
    margin-right: 5px;
    background: #eee;
}

#main-menu li:after { content:"|";}
#main-menu li.last:after { content:"";}

#block-menu-menu-top-menu > .content > ul.menu > li:after { content:" | "; padding-left: 5px;}
#block-menu-menu-top-menu > .content > ul.menu > li.last:after { content:"";}
