@charset "utf-8";
/* CSS Document */

body {
	background-color:#e7e7e7;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:16px;
}
a img {
	border:none;
}
h1 {
	background: -webkit-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* Standard syntax */
	color: #EB1C24;
	padding: 5px 10px;
	margin: 0;
	display: inline-block;
	font-size:15px; 
	font-weight:bold;
	text-transform: uppercase;
}
h1 a {
	color: #EB1C24;
	text-decoration: none;
	font-size:15px; 
	font-weight:bold;
	text-transform: uppercase;
}


h2 {
	background: -webkit-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#DEDAD7, #E5E4E9, #DEDAD7); /* Standard syntax */
	color: #EB1C24;
	padding: 5px 10px;
	margin: 0;
}

h2 a {
	color: #EB1C24;
	text-decoration: none;
}
.holder {
	margin:0px auto;
	width:950px;
	background-color:#ffffff;
	padding-bottom:15px;
}
.header {
	padding:20px;
background-color:#;
	height:100px;
}
.active {
	color:orange !important;
}
.links {
	float:left;
}
.links a:link {
	color:#2e3192;
	text-decoration:none;
	font-size:14px;
	margin:0 5px 0 3px;
}
.links a:hover {
	color:red;
}
.logo {
	width:205px;
	height:87px;
	float:right;
	margin-bottom:10px;
}
.sublinks {
	height:23px;
	width:913px;
	background-color:#2e3192;
	color:#ffffff;
	font-size:12px;
	padding-top:7px;
}

.sublinks ul {
	margin: 0;
	padding: 0;
}

.sublinks ul li {
	list-style: none;
	float: left;
}

.sublinks ul li a {
	color:#ffffff;
	text-decoration:none;
	margin:13px 7px;
	text-transform: uppercase;
}

.sublinks ul li a:hover {
	text-decoration:underline;
}

.banner {
	height:275px;
	margin-top:25px;
	background-image:url(../images/home_banner.jpg);
	background-repeat:no-repeat;
	width:950px;
}
.nivoSlider1 {
	margin-top:25px;
	width:885px;
	height:251px;
	margin-left:21px;
	margin-bottom:15px;
	overflow:hidden;
	border:13px solid #999999;
}
.contactbanner {
	height:275px;
	margin-top:25px;
	background-image:url(../images/contactus.jpg);
	background-repeat:no-repeat;
	width:950px;
}
.leftside {
	width:auto;
	padding-left:25px;
	margin-top:5px;
	background:#FFF;
	float:left;
}
.leftsides {
    margin: 5px 20px 0 25px;
    background: #FFF;
    float: left;
    width: 620px;
}
.welcome {
	min-height:80px;
	margin: 10px 0 0;
}
/*.welcome .content {
	margin:10px 0 0 10px;
	width:600px;
	line-height:16px;
}*/
.lower_holder {
	float:left;
}

.lower_holder .block {
	width:302px;
	float: left;
	margin: 0 3px;
}

.lower_holder .leftmid {
	padding:10px 0 0 0;
	border: solid 2px #DEDAD7;
	border-radius: 0 0 8px 8px;
	height:200px;
}
.lower_holder .leftmid ul {
	margin:0px;
}
.rightcontent .rightmid ul {
	margin:0px;
}
.lower_holder .leftmid ul li, .rightmid ul li, .news_mid ul li {
	margin-bottom:5px;
	color:#2e3192;
}
.rightmid ul li img {
	margin:5px 0 0 -13px;
}
.lower_holder .leftmid ul li a, .rightmid ul li a, .news_mid ul li a {
	margin-bottom:5px;
	color:#2e3192;
}
.news_mid ul {
	margin-left:-20px;
}
.hplistlinks {
	text-decoration:none;
}
.leftlow {
	background-image:url(../images/lower.jpg);
	background-repeat:no-repeat;
	width:302px;
	height:10px;
}
.rightcontent {
	float:right;
}
.rightcontent .righttop {
	background-image:url(../images/events.jpg);
	width:311px;
	height:32px;
}
.rightcontent .rightmid {
	background-image:url(../images/events_mid.jpg);
	background-repeat:repeat-y;
	width:301px;
	height:200px;
	padding:5px 5px 5px;
}
.rightcontent .rightmid a {color:#2E3192}
.rightcontent .rightlow {
	background-image:url(../images/events_lower.jpg);
	width:311px;
	height:7px;
}
.rightside {
	float:right;
	margin-right:23px;
	width:261px;
}
.rightside .right_main_top {
	background-image:url(../images/right_title_bg.jpg);
	background-repeat:no-repeat;
	width:261px;
	height:9px;
}
.rightside .right_main_mid {
	background-image:url(../images/right_title_mid_bg.jpg);
	background-repeat:repeat-y;
	width:261px;
	height:auto;
}
.rightside .right_main_low {
	background-image:url(../images/right_title_low_bg.jpg);
	background-repeat:no-repeat;
	width:261px;
	height:15px;
}
.right_main_top {
	background-image:url(../images/right_title_bg.jpg);
	background-repeat:no-repeat;
	width:261px;
	height:9px;
}
.right_main_mid {
	background-image:url(../images/right_title_mid_bg.jpg);
	background-repeat:repeat-y;
	width:261px;
	height:auto;
}
.right_main_low {
	background-image:url(../images/right_title_low_bg.jpg);
	background-repeat:no-repeat;
	width:261px;
	height:15px;
}
.detailsnews {
	width:275px;
	height:auto;
	margin-left:12px;
}
.detailsnews .news_top {
	background-image:url(../images/news_top.jpg);
	background-repeat:no-repeat;
	width:239px;
	height:11px;
}
.detailsnews .news_mid {
	/*background-image:url(../images/news_mid.jpg);*/
	/*background-repeat:repeat-y;*/
	background-color: #fff;
	/*width:229px;*/
	height:130px;
	margin:0 5px 0 5px;
	overflow-x: hidden;
	overflow-y: auto;
}
#client {
	width:213px;
}
.detailsnews .news_low {
	background-image:url(../images/news_low.jpg);
	background-repeat:no-repeat;
	width:239px;
	height:9px;
}
.newstitle {
	color:red;
	font-size:18px;
	margin:0 0 15px 20px;
}
.readmore {
	font-size:10px;
	color:#2e3192;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.sidepanelboard {
	float:left;
}

.sidepanelboard .block {
	width:178px;
	min-height:280px;
	margin-top:5px;
	border: 1px solid #BCBCBC;
	border-radius: 5px;
	background: #F2F2F2;
}
.sidepanelboard h2 {
	background: #BCBCBC;
	color:#2e3192;
	font-size:13px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.sidepanelboard ul {
	margin:0px;
	padding-left:6px;
	padding-top:10px;
}
.sidepanelboard ul li {
	list-style:none;
	margin: 0;
}

.sidepanelboard ul li a {
	background:url(../images/blue_bullet.jpg) center left no-repeat;
	padding-left:15px;
	line-height:25px;
	list-style:none;
	text-transform:uppercase;
	font-size:9px;
	text-decoration:none;
	color:#2e3192;
}
.sidepanelboard ul li a.active {
	background:url(../images/red_bullet.jpg) center left no-repeat;
}
.sidepanelboard ul li a:hover, .sidepanelboard ul li a.active {
	color:red !important;
}

.sidepanelboard ul li ul {
	padding: 0;
}
.sidepanelboard ul li ul li a {
	margin-left: 8px;
}
/*
.sidepanelboard_mid ul a:visited    {
	text-decoration:none;
	color:red;
}*/
.sideboardcontent {
	float:left;
	margin-left:10px;
	width: 430px;
	/*overflow-x: hidden;
    overflow-y: auto;
    HEIGHT: 450PX;*/
}
.sideboardcontent-pro {
	float:left;
	margin-left:0px;
}
.sideboardcontent ul {
	list-style:none;
	margin:0px;
	padding-left:10px;
}
.cables {
	font-size:9px !important;
	list-style:none;
}
.cables li {
	list-style:none;
}
.cable {
	font-size:9px !important;
	list-style:none;
        padding-top: 0 !important;
}
.cable li {
	list-style:none;
}
.contactoffice {
	margin:0px;
	padding-left:10px;
}
.contactoffice li {
	list-style:none;
	font-size:14px;
	margin-top:3px;
}
.contactoffice a{
	color:#000
}
.formreset, .formsubmit, .cvreset, .cvsubmit {
	background-color:red;
	color:#ffffff;
	font-weight:bold;
	width:100px;
	border:none;
	padding:2px;
}
.catalogue li {
	margin-top:5px;
}
.check {
	width:10px !important;
}
.cvform,
.feedbackform {
	margin: 30px 0 0 100px;
}
.cvform label,
.feedbackform label {
	display: block;
	width:140px;
	float: left;
	padding:2px 0 2px 0;
	font-weight: normal;
	text-transform: uppercase;
}

.feedbackform textarea {
	border:1px solid #c4c4c4;
	padding:2px;
	width:300px;
	height:100px;
	overflow-x: hidden;
	overflow-y: auto;
	resize:none;
}

.cvform input,
.feedbackform input {
	border:1px solid #c4c4c4;
	width:205px;
	padding:2px;
}

.feedbackform .form-type-checkbox label {
	float: left;
	width: auto;
	text-transform: capitalize;
}

.feedbackform .form-type-checkbox input {
    width: 10px;
    float: left;
}

.feedbackform .form-checkboxes {
	float: left; 
	width: 49%; 
	margin: 0 0 10px 0;
}

.feedbackform .form-submit {background-color:#f7941f; border: 1px solid #f7941f; -moz-border-radius: 5px;/*Firefox*/-webkit-border-radius: 5px;/*Safari, Chrome*/border-radius: 5px;color:#000; cursor:pointer; padding:5px 0; width:100px !important; margin:5px;}

.cvreset, .cvsubmit {
	color:#ccc;
	font-weight:bold;
	width:100px !important;
	border:1px solid #ccc !important;
}
.dispnone {
	display:none;
}
.firstrow {
	height:120px;
}
.renewenertgy_content {
	margin-bottom:15px;
}
.st-accordion ul.upper-alpha {
	margin-bottom:15px;
	/*list-style-type: upper-alpha;
	color:#2E3192;
	font-size:16px;*/
}
.st-accordion ul li a.jobtitle {
	text-decoration:none;
	font-size:16px;
	color:#2E3192;
}
.st-accordion ul li a.jobtitle:hover {
	text-decoration:none;
	font-size:16px;
	color:red;
}
.st-accordion ul li {
	margin-bottom:15px;
}
.st-content {
	margin:0px 0 15px 20px;
	border-bottom: 1px solid #000;
	display:none;
	color:#000;
	font-size:12px;
}
.applyjob a {
	font-size:13px;
	color:#ccc !important;
	background-color:red;
	padding:3px;
	text-decoration:none;
	border:none;
}
.jobcode {
	border:1px solid #ccc;
	width:211px;
}
/*.media{float:left;margin-right:10px;width:163px;}*/
.media {
	width:695px;
	height:auto;
	float: left;
	margin: 10px 0 0 0;
}
.article {
	float:left;
	margin-right:10px;
}
.article_ad, .article-ad {
	float:left;
	width: 145px;
        height: 190px;
        margin: 0 25px 0 0;
        text-align: justify;
}
.articles {
    float: left;
    margin-right: 10px;
    min-height: 215px;
    width: 145px;
    margin: 0 25px 0 0;
    text-align: justify;
}
.media img {
	border-color:#ccc;
}
.mediaawards {
	float:left;
	margin:10px 10px 0 0;
	width:205px;
	text-align: center;
}
.mediaawards img {
	border-color:#ccc;
	margin: 10px;
}
.events {
	margin-right:10px;
}
.events img {
	border-color:#ccc;
	margin:0 10px 0 10px;
}
.example_menu ul {
	display: none;
	list-style: none;
	margin: 0 0 0 18px;
	padding: 0;
}
.example_menu .footer span {
	display: none;
}
.form-item .field-suffix {
	color:#666666;
	font-size:9px;
}
.formtel, .formreset, .formsubmit {
	width:151px !important;
}
.msg {
	width:150px;
}
.energycables{height:1980px;}
.energycables li{margin-bottom:10px; border-bottom:1px dotted #000; width:100%; float:left;}
.energycables li.last{margin-bottom:10px; border-bottom:none;}

.left-img { float:left; padding:0; margin:0 15px 0 0;}

.pro-div { width:100%; float:left;}
.pro-div p{margin:0px 0 15px 0;}
.pro-specification{ width:100%; float:left;margin:0px 0 15px 0;}
.spec-div1 { width:30%; float:left; font-weight:bold;}
.spec-space { width:3%; float:left;}
.spec-div2 { width:67%; float:left;}
.sidepanelboard_mid ul ul li a.boardlinks {
	background:url(../images/bullet2.gif) center left no-repeat;
	padding-left:10px;
	line-height:25px;
	list-style:none;
	text-transform:uppercase;
}
.top { width:70px; float:right; text-align:center; background-color:#2e3192; color:#fff; padding:5px 0 5px 0;}
.top a{ color:#fff;text-decoration:none; display:block;}


.fullcontent {
	width:889px;
	padding-left:25px;
	margin-top:5px;
	background:#FFF;
	float:left;
}

.bookingform {margin:30px 0 0 0}
.bookingform .formfield {float:left; width:444px}
.bookingform label {
    display: block;
    float: left;
    padding: 2px 0 8px 0;
    width: 100%;
}
.bookingform input {
    border: 1px solid #C4C4C4;
    padding: 5px;
    width:340px;
}
.bookingform select {
    border: 1px solid #C4C4C4;
    padding: 4px;
    width:160px;
}
.booking3  .formfield {width:286px}
.booking3  .formfield2 {width:200px}
.space {margin:0 30px 0 0}
.space-top {margin:0}
.booking3  .formfield input {width:240px}

.booking4 .formfield {width:227px}
.booking4 .formfield4 {width:200px;float:left; margin-top: 26px;}
.booking4  .formfield input , .booking4  .formfield4 input {width:160px}
.space-top2 {margin:26px 0 0 0}

.formfield-main {float:left; width:100%; font-weight:bold; padding:10px 0 0 0}
.clear {clear:both; overflow:hidden}
.clearhr {clear:both; margin:20px 0 0 0; width:100%; float:left; border-top:1px solid #1c2465; border-bottom:2px solid #00a3e6; overflow:hidden}
.clearhr2 {clear:both; margin:20px 0 0 0; width:100%; float:left; border-top:1px solid #f25a2b; border-bottom:2px solid #f6931c; overflow:hidden}
.clearhr3{clear:both; margin:20px 0 0 0; width:100%; float:left; border-top:1px solid #008745; border-bottom:2px solid #8cc63e; overflow:hidden}
.header-booking {
	padding:20px;
background-color:#;
border-bottom:5px solid #ffa946;
	height:80px;
}

/*===================== developer ===============================*/

.rightside .block {
	float:left;
	clear: both;
	margin: 15px 0 0;
}

.rightside .leftmid1 {
	border: 1px solid #d6d6d6;
	border-radius: 0 0 8px 8px;
	width:261px;
	height:auto;
	padding:15px 0 0 0;
}
.rightside .leftmid1 ul {
	margin: 0 30px 0 0;
        text-align: justify;
}
.rightside .leftmid1 ul li {
	margin-bottom:5px;
	color:#2e3192;
}
.rightside .leftmid1 ul li a {
	margin-bottom:5px;
	color:#2e3192;
	text-decoration: none;
}
.leftlow1 {
	background-image:url(../images/lower.jpg);
	background-repeat:no-repeat;
	width:261px;
	height:10px;
}
.wiity{
    background: url("../images/fancybox_overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 200%;
    padding: 10px 0;
}
.closew {
    border: 1px solid;
    border-radius: 8px;
    color: #333;
    float: right;
    font-size: 21px;
    font-weight: bold;
    margin: 0px -22px -3px 0;
    padding: 3px;
    position: sticky;
    background-color: #fff;
}
.wiity_in {
    margin: 30px 0 0 350px;
    width: 400px;
}
.closew a {
    color: #333;
    text-decoration: none;
}

#small_slider{
	margin: 0 25px;
	height: 175px;
}
#lightbox-image-details-currentNumber{
  display: none !important;
}
#intelect_images{
	display: none;	
}
#elecrama1_images{
	display: none;	
}
#elecrama2_images{
	display: none;	
}
#cabletech_images{
	display: none;	
}
#etpower_images{
	display: none;	
}
#holi_images{
        display: none;	
}
#intelect_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 201px;
    text-decoration: none;
}
#elecrama2_images img {
    height: 95px;
    width: 144px;
}
#elecrama1_images a {
     float: left;
    margin: 0 10px 10px 0;
    /*min-height: 201px;*/
    text-decoration: none;
}
#elecrama2_images a {
     float: left;
    margin: 0 10px 10px 0;
    /*min-height: 201px;*/
    text-decoration: none;
}
#cabletech_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 201px;
    text-decoration: none;
}
#etpower_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 175px;
    text-decoration: none;
}
#holi_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 150px;
    text-decoration: none;
}
#hannover_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 225px;
    text-decoration: none;
}
#et_images a {
     float: left;
    margin: 0 10px 0 0;
    min-height: 160px;
    text-decoration: none;
}
.desc{
	width: 145px;
	font-size: 9px;
        color: #000000;
}
.heading_img{
	margin:10px 0;
}
.event_type{
	margin: 0 10px;
}
.media .event_type{
    float: left;
    margin: 0 8px 0 0;
}
.solar_wp{
	list-style-type: square;
	border: 0 none !important;
}
.catalogue {
    list-style:disc !important;
}
.catalogue a {
    color: #000;
    text-decoration: none;
}
.share-buttons {
    /*margin: 0 0 0 -75px;*/
	margin: 5px 0 0 -265px;
    text-align: right;
    width: 80%;
    position: absolute;
    /*bottom: 90px;*/
    top: auto;
}
.share-buttons img {
width: 25px;
padding: 0px;
border: 0;
box-shadow: 0;
display: inline;
}
.wiity_in img {
    max-height: 700px;
    cursor: -moz-zoom-in;
}
.wiity_zoom_image{
    cursor: -webkit-zoom-in;   
}
.left_main_mid, .left-main-mid {
    background-color: #f2f2f2;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 15px 0;
    width: 300px;
    margin: 20px 0;
}

.big_image
{
    display: none;
    left: 200;
    position: absolute;
    top: 20;
    cursor: -moz-zoom-out;
}
.big_image img {
    cursor: -webkit-zoom-out;
}
.video-link{
    visibility: hidden;
}
.video-cover {
    width: 145px;
}
.page-title {
    background-color: #e5e5e5;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #e53b3e;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 10px;
    text-transform: uppercase;
    display: inline-block;
}
.label-title {
    background-color: #e5e5e5;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #e53b3e;
    font-family: Trebuchet MS;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 2px;
    text-transform: capitalize;
    min-width: 150px;
    text-align: center;
}
.address {
    float: left;
    margin: 0 0 20px;
    width: 50%;
}

/* css added by kamal */
.node-readmore a:link {
	font-size:10px;
	color:#2e3192;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
}

.link-wrapper ul {
	margin: 0;
}

.nivo-caption a {
	text-decoration: none;
	color: #fff;
	margin: 0 3px;
}

.social {
	margin:10px 15px 0 0;
	text-align: right;
}

.media .article .firstrow a:not(:first-child) {
	display: none;
}

#edit-submitted-upload-resume-upload-button {
	display: none;
	visibility: hidden;
}

.cvform .form-actions {
	margin-left: 140px;
}

.feedbackform .webform-component {
	clear:both;
}

.view-market-updates .view-content .news_mid {
	background-color: #fff;
	height:130px;
	margin:0 5px 0 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.view-market-updates .view-content {
	width:275px;
	height:auto;
	margin-left:12px;
}

.webform-component--tel-no #edit-submitted-tel-no-prefix,
.webform-component--mobile-no #edit-submitted-mobile-no-prefix {
	width: 50px;
}

.webform-component--mobile-no #edit-submitted-mobile-no,
.webform-component--tel-no #edit-submitted-tel-no {
	width: 145px;
}

